@charset "UTF-8";

#alert {
	position: fixed;
	transform: translate(-50%, 0);
	top: 0;
	left: 50%;
	z-index: 5;
}

#alert>i {
	font-weight: bold;
}

#header {
	position: relative;
	height: 200px;
	background-image: url("../assets/bg.jpeg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 10px 20px;
}

#header>img {
	max-height: 60%;
}

#header>h1 {
	position: absolute;
	transform: translate(0, -100%);
	top: 95%;
	font-weight: bold;
}